@page "/blazorjs"
@using LearnBlazor.Helper
@inject IJSRuntime _jsRuntime

<h3>Blazor JS</h3>

<div class="row">
    <button class="btn btn-primary" @onclick="TestConfirmBox">Test confirm button</button>
</div>

<div>
    @if (@ConfirmResult)
    {
        <p>Confirmation confirmed</p>
    }
    else
    {
        <p>Pending confirmation...</p>
    }

</div>

<div class="row">
    <button class="btn btn-success m-2" style="width:200px" @onclick='(args) => ToastrNotification("success")'>Toastr Success</button>
    <button class="btn btn-warning m-2" style="width:200px" @onclick='(args) => ToastrNotification("warning")'>Toastr Warning</button>
    <button class="btn btn-danger m-2" style="width:200px" @onclick='(args) => ToastrNotification("error")'>Toastr Error</button>
</div>

<div class="row">
    <button class="btn btn-success m-2" style="width:200px" @onclick='(args) => SweetAlertNotification("success")'>SweetAlert Success</button>
    <button class="btn btn-danger m-2" style="width:200px" @onclick='(args) => SweetAlertNotification("error")'>SweetAlert Error</button>
</div>

@code {
    private string ConfirmMessage = "Are you sure you want to click here?";
    private bool ConfirmResult { get; set; }
    private async Task TestConfirmBox()
    {

        ConfirmResult = await _jsRuntime.InvokeAsync<bool>("confirm", ConfirmMessage);

    }

    private async Task ToastrNotification(string type)
    {
        _jsRuntime.ToastrNotification(type);
    }

    private async Task SweetAlertNotification(string type)
    {
        _jsRuntime.SweetAlertNotification(type);
    }
}
