@page "/blazorjs"
@inject IJSRuntime _jsRuntime

<h3>Blazor JS</h3>

<div class="row">
    <button class="btn btn-primary" @onclick="TestConfirmBox">Test confirm button</button>
</div>

<div>
    @if (@ConfirmResult)
    {
        <p>Confirmation confirmed</p>
    }
    else
    {
        <p>Pending confirmation...</p>
    }

</div>

@code {
    private string ConfirmMessage = "Are you sure you want to click here?";
    private bool ConfirmResult { get; set; }
    private async Task TestConfirmBox()
    {

       ConfirmResult = await _jsRuntime.InvokeAsync<bool>("confirm", ConfirmMessage);

    }
}
